# === Node & Bun ===
node_modules/
bun.lockb
package-lock.json
npm-debug.log
yarn-error.log
yarn.lock

# === Environment files ===
.env
.env.*.local

# === OS ===
.DS_Store
Thumbs.db

# === Editors ===
.vscode/
.idea/

# === Prisma / SQLite ===
server/prisma/dev.db
server/prisma/dev.db-journal
server/prisma/migrations/

server/prisma/dev.db
server/prisma/dev.db-journal

# Database Files to be exposed by docker
server/db_files/



# === Client build ===
client/node_modules/
client/dist/

# === Server modules ===
server/node_modules/

# === Test coverage ===
coverage/


# === Misc ===
# Logs
logs/